{% extends 'rooms/base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .log{
        margin-left: 40%;
    }
    .h{
        margin-left: 44%;
        color: blue;
    }
</style>
   
    <h3 class="h">Reset your password</h3>
    <br>
    <form action="" method="post" style="width: 250px;" class="log">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary">Send confirmation Link</button>
    </form>
    <!-- <a href="{% url 'password_reset '%}">Forgot your password</a> -->

{% endblock %}