{% extends 'rooms/base.html'%}
{% load static %}
{% block content %}
    <main>
<style>
    .about-details h2{
        color: blue;
        
    }
</style>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/about.jpg'%}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Support Company Start-->
        
        
        <!-- Support Company End-->
        <!-- Our Services Start -->
        
        <div class="our-services place-padding">
            <div class="container">
                <div class="row d-flex justify-contnet-center">
                    <div class="">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <h5>{{object.name}}</h5>
                                <br>
                                <p>{{object.description}}</p>
                                <br>
                                <h5>{{object.text}}</h5>
                            </div>
                        </div>
                    </div>
                   
             
                    
                </div>
            </div>
        </div>
        <!-- Our Services End -->
        <!-- Video Start Arera -->
      
        <!-- Video Start End -->
        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container ">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-11 col-lg-11 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="{% static 'img/icon/testimonial.png'%}" alt="">
                                        <p>Logisti Group is a representative logistics operator providing full range of ser
                                            of customs clearance and transportation worl.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static 'img/testmonial/Homepage_testi.png'%}" alt="">
                                        </div>
                                        <div class="founder-text founder-text2">
                                            <span>Jessya Inn</span>
                                            <p>Co Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="{% static 'img/icon/testimonial.png'%}" alt="">
                                        <p>Logisti Group is a representative logistics operator providing full range of ser
                                            of customs clearance and transportation worl.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static 'img/testmonial/Homepage_testi.png'%}" alt="">
                                        </div>
                                        <div class="founder-text founder-text2">
                                            <span>Jessya Inn</span>
                                            <p>Co Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    </main>
    
        
  {% endblock %}
